@page "/chats"
@using CodeBehind
@inherits ChatsPage

<AuthorizeView>
    <Authorized>
        <form @onsubmit="HandleSearch">
            <MatTextField TValue="string" @bind-Value="Query" Label="Search" Dense="true" />
            <MatTextField TValue="string" @bind-Value="SortBy" Label="Sort By" Dense="true" />
            <MatTextField TValue="string" @bind-Value="SortDirection" Label="Sort Direction" Dense="true" />
            <MatTextField TValue="string" @bind-Value="PropertiesToGet" Label="Properties to Retrieve" Dense="true" />
            <MatButton Type="submit" Raised="true" Dense="true">Search</MatButton>
        </form>
        <MatSelect @bind-Value="selectedContactUsername" Label="Select Contact Username" Dense="true">
            @foreach (var username in contactUsernames)
            {
                <MatOption Value="@username">@username</MatOption>
            }
        </MatSelect>
        
        <MatButton OnClick="@CreateNewChat">Create New Chat</MatButton>
        <MatTable Items="@chats">
            <MatTableHeader>
                <th>ChatId</th>
                <th>Username</th>
                <th>ContactUsername</th>
                <th>Actions</th> 
            </MatTableHeader>
            <MatTableRow Context="tableRowContext">
                <td>@tableRowContext.ChatId</td>
                <td>@tableRowContext.Username</td>
                <td>@tableRowContext.ContactUsername</td>
                <td>
                    <MatButton OnClick="@(() => NavigateToChat(tableRowContext.ChatId))">View Messages</MatButton>
                    <MatButton OnClick="@(() => DeleteChat(tableRowContext.ChatId))">Delete</MatButton> 
                </td>
            </MatTableRow>
        </MatTable>

        <MatPagination TotalItems="totalChatsCount" PageSize="PageSize" CurrentPage="PageNumber" OnPageChange="HandlePageChange" />
    </Authorized>
</AuthorizeView>
