@page "/chats"
@using CodeBehind
@inherits ChatsPage

<AuthorizeView>
    <Authorized>
        <MatH4>Chats</MatH4>
        <form @onsubmit="HandleSearch">
            <MatTextField TValue="string" @bind-Value="SortBy" Label="Sort By" Dense="true" />
            <MatSelect @bind-Value="SortDirection" Label="Sort Direction">
                <MatOptionString Value="asc">asc</MatOptionString>
                <MatOptionString Value="desc">desc</MatOptionString>
            </MatSelect>
            <MatTextField TValue="string" @bind-Value="PropertiesToGet" Label="Properties to Retrieve" Dense="true" />
            <MatButton Type="submit" Raised="true" Dense="true">Search</MatButton>
        </form>
        <MatTextField @bind-Value="selectedContactUsername" Label="Enter user to create chat"></MatTextField>
        
        <MatButton OnClick="@CreateNewChat">Create New Chat</MatButton>
        <MatTable Items="@chats" ShowPaging="false">
            <MatTableHeader>
                <th>ChatId</th>
                <th>Username</th>
                <th>ContactUsername</th>
                <th>Actions</th> 
            </MatTableHeader>
            <MatTableRow Context="tableRowContext">
                <td>@tableRowContext.ChatId</td>
                <td>@tableRowContext.Username</td>
                <td>@tableRowContext.ContactUsername</td>
                <td>
                    <MatButton OnClick="@(() => NavigateToChat(tableRowContext.ChatId))">View Messages</MatButton>
                    <MatButton OnClick="@(() => DeleteChat(tableRowContext.ChatId))">Delete</MatButton> 
                </td>
            </MatTableRow>
        </MatTable>
        <MatButton OnClick="HandlePrevious" Disabled="disablePrevious">Previous</MatButton>
        <MatButton OnClick="HandleNext" Disabled="disableNext">Next</MatButton>
    </Authorized>
</AuthorizeView>
