@page "/groupchats"
@using CodeBehind
@inherits GroupChatsPage

<AuthorizeView>
    <Authorized>
        <MatH4>Group Chats</MatH4>
        <div>
            <MatButton OnClick="@NavigateToCreateChat">Create Chat</MatButton>
            <MatButton OnClick="@NavigateToJoinChat">Join Chat</MatButton>
        </div>
        <MatTable Items="@groupChats">
            <MatTableHeader>
                <th>Chat Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </MatTableHeader>
            <MatTableRow Context="chat">
                <td>@chat.Id</td>
                <td>@chat.Name</td>
                <td>@chat.Description</td>
                <td>
                    <MatButton OnClick="@(() => NavigateToChat(chat.Id))">View Messages</MatButton>
                    <MatButton OnClick="@(() => LeaveGroupChat(chat.Id))">Leave Chat</MatButton>
                    <MatButton OnClick="@(() => NavigateToEditChat(chat.Id))">Edit</MatButton> 
                </td>
            </MatTableRow>
        </MatTable>
        <MatButton OnClick="HandlePrevious" Disabled="disablePrevious">Previous</MatButton>
        <MatButton OnClick="HandleNext" Disabled="disableNext">Next</MatButton>
    </Authorized>
</AuthorizeView>
